rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;

      match /history/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
    }

    match /submissions/{id} {
      allow create: if request.auth != null;
      allow read, update, delete: if false;
    }

    match /breaches/{id} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}


